<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869752552275-0h1p0l0jospngggj57ha6fv2j8p4lldk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869752552275-0h1p0l0jospngggj57ha6fv2j8p4lldk</string>
	<key>API_KEY</key>
	<string>AIzaSyBvIdiWdpbY2gDf27O06NW_6brpD9sQOfE</string>
	<key>GCM_SENDER_ID</key>
	<string>869752552275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ualr.adapt.clicker</string>
	<key>PROJECT_ID</key>
	<string>libretexts-adapt</string>
	<key>STORAGE_BUCKET</key>
	<string>libretexts-adapt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869752552275:ios:8ecd3e1b990c338c8c3fa6</string>
</dict>
</plist>